<!DOCTYPE html>
<html>
  <head>
    <title>HTML CSS JS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href="http://ideasburner.com/css/main.css" rel="stylesheet" type="text/css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
	
  
    <center>
      <h1>1 заголовок</h1> <!-- коммент -->
      <h2>2 заголовок</h2>
	  <a name="#example">ссылка</a>
      <h3 align="left">3 заголовок</h3>
      <h4>4 заголовок</h4>
    </center>
    
    <p> <u>teg</u> <strong>1</strong> </p>
    <p align="right"> <strike>teg</strike> <em>2</em> </p>
    <p> <abbr title="Sosi Hyi">SH </abbr></p>
      
    <address>Россия, Челябинская область</address>
    
    <p> <strong> <em> <strike> <u> жирный курсив </u> </strike> </em> </strong> </p>
	
	H<sub>2</sub>O
	4<sup>2</sup>
    
    <hr />
    
    <ol type="A" start="3" reversed="reversed">
      <li>элемент</li>
      <li>элемент</li>
      <li>элемент</li>
    </ol>
    
    <ul type="circle">
      <li>элемент</li>
      <li>элемент</li>
      <li>элемент</li>
    </ul>
    
    <dir>
      <li>элемент</li>
      <li>элемент</li>
      <li>элемент</li>
        <dir>
          <li>элемент</li>
          <li>элемент</li>
          <li>элемент</li>
        </dir>
    </dir>
    
    <a href="https://prnru.online/k.php?tag=granny" target="_blank" title="хули палишь, нажимай давай">ссылка</a>
	
	<a href="#example"> переход на заголовок </a>
	
	<a href ="mailto:shesterin51@gmail.com"> Email </a>
	
	<center><p><img src="https://nalchik.parosigara.com/upload/iblock/96b/96bd9db781710ca7eafcf906c3ceff31.jpg" width="25%" height="25%" title="картинка блять" alt="жыжа" /></p></center>
	
	<div>проверка</div>
	<div>проверка</div>
	<span>проверка</span>
	
	<form name="test" action="" method="post">
		<label for="field"> Введи текст:</label>
		<input type="text" placeholder="Сюда писать" id="field" title="текст вбивай, алёша" maxlength="10" />
		
		<br />
		<br />
		
		<label for="fieldDate"> День рождения <label/> 
		<input type="date" placeholder="Сюда писать" id="fieldDate" />
		
		<br />
		<br />
		
		<label for="fieldRange"> Значение: <label/> 
		<input type="range" placeholder="Сюда писать" id="fieldRange" />
		
		<br />
		<br />
		
		<input type="button" value="Отправить Button" />
		<input type="submit" value="Отправить Submit" />
		
		<input type="reset" value="Очистить все" />
		
	<form/>
	
	<br />
	<br />
	
	<form action="" method="">
		<p><b>
			Введите отзыв:
		</b></p>

		<textarea rows="10" cols="45" name="text">
		</textarea>

		<p>
			<input type="submit" value="Отправить" />
		</p>
	</form>
	
	<button>
		Отправить
	</button>
	
	<br />
	<br />
	
	<select>
		<option>
			example1
		</option>
		<option selected="selected">
			example2
		</option>
	</select>
	
	<br />
	<br />
	
	<form action="" method="post">
		<select size="5" multiple="multiple" name="hero[]">
			<option disabled="disabled"> Выберите героя </option>
			<option value="Чебуратор"> Чебуратор </option>
			<option selected="selected" value="Геныч"> Геныч </option>
			<option value="Шапокляк"> Шапокляк </option>
			<option value="Крыска Лариска"> Крыска Лариска </option>
		</select>
		<input type="submit" value="Отправить" />
	</form>
	
	<br />
	<br />
	
	<header>
		Шапка сайта
	</header>
	
	<menu>
		<li>элемент1</li>
		<li>элемент2</li>
		<li>элемент3</li>
	</menu>
	
	<article>
		Статья, пост, ...

		<p> Звук </p>
		<audio controls="controls">
			<source src="http://music.arizona-rp.com/rodina/1675378852.mp3" />
		</audio>
		
		<video controls="controls">
			<source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" />
		</video>
	</article>
	
	<aside>
		Боковая панель
	</aside>
	
	<footer>
		Низ сайта
	</footer>
	
	<br />
	<br />
	
	<details>
		<summary> Информация об авторе </summary>
		<p> Бендер Родригез </p>
	</details>
	
	<br />
	<br />
	
	Проверка 123<mark>выделенно</mark> не выделенно
	
	<br />
	<br />
	
	<ruby>
		xrr<rt>hn</rt>
		yvb<rt>ya</rt>
	</ruby>
	
	<br />
	<br />
	
	<progress max="100" value="25">
		Загружено на <span id="value">25</span>%
	</progress>
	
	<br />
	<br />
	
	<form oninput="result.value=(cm.value/2.54).toFixed(2)">
		<p>Введите длину в сантиметрах:
		<input type="number" name="cm" autofocus></p>
		<p>Длина в дюймах: <output name="result">0</p>
	</form>
	
  </body>
</html>